.Consultation{

    text-align: center;
    margin: 2rem;
    padding: 2rem;
    background-image: url('https://github.com/jordanjunior22/sohdecam/blob/main/public/consult.jpg?raw=true');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
}
.consultation{
    border: none;
    background-color: var(--cta-color);
    color:white;
    border-radius: 2px;
}

@media (max-width:768px) {
    .Consultation{
        font-size: 0.8em;
    }
}
