.contact{
    align-items: center;
    font-size: 1rem;
}
.contact-form{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--main-color);
    width: 55%;
    border-radius: 5px;
}
.contact-image{
    background-image: url('/contact1.jpg');
    transition: background-image 0.3s; /* Smooth transition for the image change */
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    flex: 1;
    cursor: pointer;
}
.contact-image:hover{
    background-image: url('/contact2.jpg');
}
.div-form{

flex: 2;
}
.contact-details{
    justify-content:center;
    height: 500px;
    gap: 2rem;
    overflow: hidden;
}
.names{
    justify-content: space-between;
}
.title{
    justify-content: center;
    align-items: center;

    color: var(--main-color);
}
textarea{
    resize: vertical;
    padding: 0.5rem;
    border: 1px solid lightgrey;
    border-radius: 2px;
    color: var(--main-color);
    outline: none;
}
input{
    padding: 0.5rem;
    outline: none;
    color: var(--main-color);
    border: 1px solid lightgrey;
    border-radius: 2px;
    
}
.send-btn{
    background-color: var(--cta-color);
    border: none;
    color: white;
}
.title-getintouch{
    color: var(--main-color);
}

@media (max-width: 1024px) {
    .contact-form{
   
        width: 70%;
        
    }
}
@media (max-width: 768px) {
    .contact-image{
       display: none;
    }
    .names{
        flex-direction: column;
        gap: 1rem;
    }
    .contact{
        font-size: 0.8em;
    }
    .contact-form{
        width: 100%;
    }
    .contact-details{
        background-image: url('/contact.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .title-getintouch{
        color: white;
    }
} 